@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: inter;
  font-size: 15px;
}
a{
  text-decoration: none;
  color: inherit;
}

.hide-scrollbars{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbars::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.hide-number-arrows::-webkit-outer-spin-button,
.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

